html,body {
    height: 100%;
    min-height: 100%;
}

.top_menu {
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
}

.top_menu li{
    display: inline;
}

.top_menu li a {
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: darkblue; /* #444; */
    text-decoration: none;
}

.top_menu li a:hover {
    color: white;
    background-color: LightBlue;
}

.top_menu .active {
    color: white;
    background-color: LightBlue;
}

.header {
    text-align: center;
}

.header h1 {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #3333cc;
}

.back {
    background-image: url(/static/34-fon-dlya-sayta.png);
    background-size: 10%;
    min-height: 100%;
    overflow: hidden;
}

.no-back {
    background-color: white;
    width: 1000px;
    margin: auto;
    min-height: 100%;
}

.content {
    width: 900px;
    padding: 0px 50px;
    /*text-align: center;*/
    margin: 0 auto;
    overflow: hidden;
    min-height: 600px;
}

.footer {
    height: 40px;
}

.footer footer {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.bottom-preview {
    vertical-align: middle;
}

.object_list_item {
    float: left;
    width: 220px;
    position: relative;
    /*display: block;*/

}

.object_list_item h1 {
    font-size: 16px;
}

.object_list_item p {
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    color: grey;
}