<!DOCTYPE html>
<html lang="ru">
<head>{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.2.1.js"></script>
    <title>{{ title }}</title>
    {% endblock%}
</head>
<body>
<script>
    $(function() {
        $('.top_menu a').click(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
<div class="back">
<div class="header">
    <h1>Строительные и ремонтные работы любой сложности <br/>{{ header_phone }}</h1>
</div>
<div class="no-back">
<nav style="text-align: center; padding-top: 20px;">
<ul class="top_menu">
    <li><a href="/products/" id="m_prod">Виды работ и расценки</a></li>
    <li><a href="/portfolio/" id="m_port">Портфолио</a></li>
    <li><a href="/" id="m_pric">Расценки</a></li>
    <li ><a href="/contact/" id="m_cont">Контакты</a></li>
</ul>
</nav>
<div class="content">
    <hr style="margin-top:20px;">
{% block content %}
{% endblock %}
</div>
</div>
<div class="footer">
    <footer style="padding-top: 20px;">
        <p style="margin-left: 25%; text-align: center; width:50%; display: inline;">&copy; Раде Грдан 2017 год</p>
        <a style="margin-left: 25%; text-align: center; width: 50%; display: inline;" href="mailto:{{ header_email }}">Написать</a>
    </footer>
</div>
</div>
</body>
</html>