{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <style>
        table tr:nth-child(even) {
            background-color: #eee;
        }
        table tr:nth-child(odd) {
            background-color: #fff;
        }
        {% comment %}
        table th {
            color: white;
            background-color: black;
        }
        {% endcomment%}
    </style>
{% endblock %}
{% block content%}
{% for contact in contacts %}
<table width="100%" style="padding-bottom: 20px">
    {% if contact.photo %}
    <tr><th style="text-align:right; width:35%;">
        <img style="padding-right:50px;" alt="Фото" height="120px" src="{{ contact.photo.url}}">
    </th><th style="text-align: left;">{{ contact.name }}</th></tr>
    {%else%}
    <caption><h2>{{ contact.name }}</h2></caption>
    {% endif %}

    {% if contact.contactphone_set.all %}
    <tr><th colspan="2"><h3>Телефоны для связи</h3></th></tr>
    {% endif %}

    {% for phone in contact.contactphone_set.all %}
        <tr>
            <th>{{ phone.name }}</th><td>{{ phone.phone }}</td>
        </tr>
    {% endfor %}

    {% if contact.contactemail_set.all %}
    <tr><th colspan="2"><h3>E-mail для связи</h3></th></tr>
    {% endif %}
    {% for email in contact.contactemail_set.all %}
        <tr>
            <th>{{ email.name}}</th><td>{{ email.email }}</td>
        </tr>
    {% endfor %}

</table>
{% endfor %}
<div >
    {% for photo in project.projectphoto_set.all %}
    <a href="{{ photo.image.url}}"><img src="{{ photo.get_preview_url }}"></a>
    {% endfor %}
</div>
{% endblock %}