{% extends 'base.html' %}

{% block content%}
{% if project.projectphoto_set.all %}
    <a style="padding: 5px;" href="#gallery-top">
        Фотогалерея
    </a>
{% endif %}
{% if comments  %}
    <a style="padding: 5px;" href="#comments-top">
        Отзывы
    </a>
{% endif %}
<div >
{{ project.description|safe }}
</div>

{% if project.projectphoto_set.all %}
    <hr style="clear: both; margin: 10px 0 10px;">
    <h4 id="gallery-top" style="text-align: center;">Галерея</h4>
    <div class="gallery_lg">
        {% for img in project.projectphoto_set.all %}
        <a href="{{ img.image.url}}">
            <img class="gallery_lg_image" src="{{ img.get_preview_url }}">
        </a>
        {% endfor %}
    </div>
{% endif %}
{% if not comments %}
    <hr style="margin: 10px 0 10px;">
    <h4 id="comments-top" style="text-align: center;">Отзывов пока нет.</h4>
{% else %}
    <hr style="margin: 10px 0 10px;">
    <h4 id="comments-top" style="text-align: center;">Отзывы</h4>

    {% for comment in comments %}
    {% if comment.deleted %}
    <p class="comment_deleted_text">Комментарий удален.</p>
    {% else %}
<p class="comment_header"><b><i>{{ comment.commentator_name }}</i></b><br>&nbsp;&nbsp;Создано:&nbsp;{{ comment.creation_date}}
    &nbsp;Последнее изменение:&nbsp;{{ comment.update_date }}</p>
    <p class="comment_text">{{ comment.text }}</p>
    {% endif %}
    {% endfor %}
{% endif %}

{% comment %}
<div style="clear: both;">
{% if project.projectphoto_set.all %}
    <hr style="margin: 10px 0 10px;">
    <h4 id="gallery-top" style="text-align: center;">Галерея</h4>
{% endif %}
    {% for photo in project.projectphoto_set.all %}
        <div class="gallery_lg_image">
    <a href="{{ photo.image.url}}">
        <img style="vertical-align: middle; padding:5px;" src="{{ photo.get_preview_url }}">
    </a>
            </div>
    {% endfor %}
</div>
{% endcomment %}
{% endblock %}